
.md-table-cell{
  padding: 12px 8px;
  font-size: $font-size-base;
}

.md-table .md-table-row:hover{
  background: $table-bg-hover !important;
}

.md-table{
  &[table-header-color="orange"] .md-table-head{
    color: $brand-warning !important;
  }
  &[table-header-color="purple"] .md-table-head{
    color: $brand-primary !important;
  }
  &[table-header-color="blue"] .md-table-head{
    color: $brand-info !important;
  }
  &[table-header-color="red"] .md-table-head{
    color: $brand-danger !important;
  }
  &[table-header-color="green"] .md-table-head{
    color: $brand-success !important;
  }

  .md-table-row td{
    border-top-color: rgba(0,0,0,.06) !important;
  }
}
